*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}
@font-face {
    font-family:"Verdanna" ;
    src: url(Verdana/Verdana.ttf);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(left, #12aef7, #0307ffcb);
    color: #fff; 
    height: 55px;   
}

 
.list1{
    display: inline-flex;
    list-style: none;
}
.nav a{
    display: flex;   
    text-decoration: none;
    color: #fff;
    padding: 10px;    
}
.nav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.icon{
    display: inline-flex;
}
.icon i{
      
    padding: 10px 5px;
}
.icon i:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;    
}
.titl h2{
    display: inline-flex;
    border: 1px solid;
    border-radius: 50px;
    padding: 0px 24px;
    color: rgb(191, 235, 182);
}
.titl h2:hover{
    background-color:rgb(191, 235, 182) ;
    color: rgb(172, 5, 5);
    cursor: pointer;
}
.nav1{  
    display: flex; 
    background-image: url(5dbc5a622716d_ville-agadir-city-visit-morocco-infos-tourisme-discover-maroc.jpg);
    background-size: 100% 100%;
    height: 400px;
    justify-content: center;
    align-items: center;  
}
.nav1 h1{
 font-size: 200px;
 color: rgb(255, 255, 255);
 border-bottom: 2px solid;
 border-top: 2px solid;
 background-color: rgba(255, 255, 255, 0.158);
 font-family: sans-serif;
}
.nav2{
    display: flex;
    background-color: rgba(37, 36, 37, 0.247);
    height: 30px;
   align-items: center;
   font-family: sans-serif;
}
.nav2 h3{
    margin-left: 10px;
}



